<html>
  <head>
    <title>Submit a form</title>
   <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
    <div id="container">
      <div class="pagetitle">
        <h1>Submit a form</h1>
      </div>
      <div id="main">
        <form method="post" action="{{ url_for('submitted_form') }}">
          <label for="site_url">News URL:</label>
          <input type="text" name="link"><br />

          <label for="news">News Content:</label>
          <textarea name="news"></textarea><br />
          <input type="submit">
        </form>
      </div>
    </div>
  </body>
</html>
